/* SEC: Imports */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');


/* SEC: Design System Setup */
:root {
    --cyan: #66E2DC;
    --orange: #FA7A53;
    --light-orange: #FFB964;
    --white: #FCFAF9;
    --black: #191826;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;

}